@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500&display=swap');

:root{
    --col1: #6D54B1;
    --col2: #FBF9EA;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: var(--col2);
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: var(--col1);
    color: var(--col2);
    padding: 0.25rem;
    border: none;
    border-radius: 0.25rem;
}

canvas{
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgba(0, 0,0, 0.25);
    cursor: crosshair;
}

.image-url-input{
    width: 500px;
}

.label-group-wrapper{
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fff;
}

.label-group-wrapper h4{
    font-weight: 600;
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.bounding-box-list-wrapper{
    display: grid;
    row-gap: 1rem;
    margin: 0 0 2rem 0;
}

.bounding-box-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--col1);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.bounding-box-list-del{
    background-color: red;
    color: #fff;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.download-data-button{
    padding: 0.5rem;
    text-decoration: none;
    background-color: var(--col1);
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    color: #fff;
}

.labelling-wrapper{
    display: grid;
    grid-template-columns: 70% 25%;
    column-gap: 5%;
    padding: 2rem;
}

.label-options-wrapper{

    padding: 0.5rem;
    background-color: var(--col1);
    border-radius: 0.5rem;
    display: flex;
    color: #fff;
    margin: 0.5rem 0;
}

.small-title{
    margin: 0.5rem 0;
}